#article .section-container {
  width: 1100px;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding-bottom: 96px;
}

.article-content {
  background-color: var(--white);
  box-shadow: 0px 8px 36px rgba(5, 5, 165, 0.05);
  border-radius: 6px;
  padding: 42px;
  color: var(--dark-gray);
}

.article-content h2 {
  font-size: 32px;
  margin: 48px 0 24px;
}

.article-content h2:first-child {
  margin-top: 0;
}

.article-content h3 {
  font-size: 24px;
  margin: 36px 0 16px;
}

.article-content h4 {
  font-size: 18px;
  margin: 16px 0;
}

.article-content h5.control-title {
  font-size:  16px;
  font-weight: 600;
}

.article-content p {
  margin-bottom: 16px;
  line-height: 24px;

}

.article-content ul {
  padding-left: 16px;
  line-height: 24px;
  margin: 0 0 16px 16px;
}

table.coin-table {
  border-collapse: collapse;
  margin: 32px auto;
}

table.coin-table thead {
  font-weight: 500;
}

table.coin-table tbody {
   font-family: 'Century';
}

table.coin-table thead tr {
  border-bottom: 1px solid var(--medium-gray);
}

table.coin-table tbody tr td:last-child {
  text-align: left;
}

table.coin-table td {
  padding: 8px 16px;
  text-align: center;
}

table.coin-table tbody tr:nth-child(odd) {
  background-color: var(--blued-white);
}

.container-figures {
  margin: 32px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
}

.container-figures.paths-1 {
  justify-content: center;
  gap: 56px;
}

.container-figures.paths-1 figure img {
  width: 130px;
}

.container-figures.paths-2 {
  justify-content: center;
  gap: 56px;
}

.container-figures.paths-2 figure img {
  width: 180px;
}

.container-figures.paths-3 {
  justify-content: center;
  gap: 32px;
}

.container-figures.paths-3 figure img {
  width: 215px;
}

.container-figures.coin-tree figure:last-child img,
.container-figures.random-variable figure img {
  width: 200px;
}

.container-figures.coin-tree figure:first-child img {
  width: 300px;
}

.container-figures.dists {
  flex-wrap: wrap;
  gap: 16px 8px;
  position: relative;
  left: -16px;
  /* flex-direction: column; */
}

.container-figures.dists figure {
  max-width: min(350px, 100%);
}

.container-figures.dists figure figcaption {
  margin-inline-start: 58px;
  margin-top: 0;
}

.container-figures.dists figure img {
  width: 100%;
}

figure.bus-stop.mb-32 {
  margin-bottom: 32px;
}

figure.bus-stop.mt-32 {
  margin-top: 32px;
}

figure.bus-stop img,
figure.triangle-prob img.large  {
  max-width: min(400px, 100%);
}

figure.paths-example,
figure.triangle-prob {
  margin: 32px 0;
} 

figure.paths-example img,
figure.triangle-prob img {
  max-width: min(370px, 100%);
}

figure {
  display: grid;
  place-items: center; 
}

figcaption {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: var(--medium-gray);
}

figcaption a {
  color: inherit;
}

.align-eq-left mjx-container {
  font-size: 15px;
  text-align: left !important;
}

mjx-container {
  margin: 0 !important;
}

.container-figures p {
  margin: 0;
}

blockquote {
  background-color: var(--hover-blue);
  border-radius: 3px;
  position: relative;
  padding: 16px;
  margin: 16px 0;
}

blockquote::before {
  content: '"';
  transform: rotate(180deg);
  position: absolute;
  top: -30px;
  left: -2px;
  color: var(--main-blue);
  font-size: 42px;
  font-family: 'BIZ UDPGothic', sans-serif;
}

.controls-description-grid {
  display: grid;
  grid-template-columns: 68px 1fr;
  column-gap: 8px;
}

.button-like {
  margin-top: 4px;
  font-size: 18px;
  color: var(--main-blue);
  background-color: var(--white);
}

.range-like {
  width: 60px;
  height: 8px;
  background-color: #dddee7;
  border-radius: 3px;
  margin-top: 8px;
  position: relative;
}

.range-like > div {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.092);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-like > div::before {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
  content: '10';
  position: absolute;
  bottom: -30px;
  font-size: 14px;
  width: 28px;
  text-align: center;
  background-color: var(--main-blue);
  color: var(--white);
  padding: 4px 0;
  border-radius: 4px;
  left: calc(33% + (16px * 0.1));
  transform: translateX(-50%);
}

.range-like > div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--main-blue);
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
}

.select-like {
  display: flex;
  justify-content: space-between;
  padding: 2px 8px;
  border-radius: 6px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.092);
  margin-top: 2px;
}

.select-like .icon-chevron {
  font-size: 14px;
  color: var(--main-blue);
}

.button-like, .range-like, .select-like {
  justify-self: center;
  align-self: flex-start;
}



