aside {
  position: sticky;
  top: calc(50% - 142px);
  height: fit-content;
  border-radius: 6px 0 0 6px;
  z-index: 0;
  padding: 16px 0 16px 8px;
  box-shadow: 0px 8px 36px rgba(5, 5, 165, 0.05);
  background-color: var(--white);
}

aside li {
  line-height: 28px;
}

aside a {
  color: var(--light-gray);
  cursor: pointer;
  text-decoration: none;
}

aside > ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 42px;
}

aside > ol > li + li {
  margin-top: 16px;
}

aside > ol > li > a {
  position: relative;
  counter-increment: my-counter;
  font-weight: bold;
}

aside > ol > li > a::after {
  content: counter(my-counter);
  color: var(--main-blue);
  position: absolute; 
  line-height: 24px;  
  left: -35px;
  top: 50%;
  background-color: var(--blued-white);
  transform: translateY(-50%);  
  width: 24px;
  height: 24px; 
  text-align: center;
  border: 1px solid var(--main-blue);
  font-weight: bold;
  border-radius: 50%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px; 
}

aside > ol > li > ol {
  list-style: none;
}

aside > ol > li > ol > li > a {
  position: relative;
}

aside > ol > li > ol > li > a::before, 
aside > ol > li > a::before {
  position: absolute;
  content: '';
  height: 26px;
  top: 0;
  left: -22px;
  border-left: 1px dashed rgb(192, 192, 192);
}

aside > ol > li > ol > li > a::after {
  content: '';
  position: absolute;
  left: -25px;  
  width: 6px;
  height: 6px;
  border: 1px solid var(--main-blue);
  border-radius: 50%;
  background-color: var(--blued-white);
  top: 50%;
  transform: translateY(-50%);
}

aside > ol > li > ol > li:last-child > a::before {
  height: 50%;
}

aside > ol > li > a.active, 
aside > ol > li > ol > li > a.active {
  color: var(--dark-gray);
}

aside > ol > li > a.active::after {
  color: var(--white);
  background-color: var(--main-blue);
}

aside > ol > li > ol > li > a.active::after {
  background-color: var(--main-blue);
}
