aside {
  position: sticky;
  top: calc(50% - 100px);
  height: fit-content;
}

aside li {
  line-height: 30px;
}

aside a {
  color: var(--sleep-anchor);
  cursor: pointer;
  text-decoration: none;
}

aside > ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 42px;
}

aside > ol > li {
  position: relative;
  counter-increment: my-counter;
}

aside > ol > li > a {
  font-weight: bold;
}

aside > ol > li::before {
  content: counter(my-counter);
  color: var(--main-blue);
  position: absolute; 
  line-height: 27px; 
  left: -37px;  
  width: 27px;
  height: 27px; 
  text-align: center;
  border: 1px solid var(--main-blue);
  font-weight: bold;
  border-radius: 50%;
  font-family: 'Red Hat Display', sans-serif;
}

aside > ol > li > ol {
  list-style: none;
}

aside > ol > li > ol > li {
  position: relative;
}

aside > ol > li > ol > li::before {
  position: absolute;
  content: '';
  height: 100%;
  left: -22px;
  border-left: 1px dashed var(--sleep-anchor);
}

aside > ol > li > ol > li::after {
  content: '';
  position: absolute;
  left: -25px;  
  width: 6px;
  height: 6px;
  border: 1px solid var(--main-blue);
  border-radius: 50%;
  background-color: var(--blued-white);
  top: 50%;
  transform: translateY(-50%);
}

aside > ol > li:last-child > ol > li:last-child::before {
  height: 50%;
}

aside > ol > li.active > a, 
aside > ol > li > ol > li.active > a{
  color: var(--heading-black);
}

aside > ol > li.active::before {
  color: var(--white);
  background-color: var(--main-blue);
}

aside > ol > li > ol >li.active::after {
  background-color: var(--main-blue);
}
