footer {
  background-color: var(--main-blue);
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  background-color: inherit;
  height: 3px;
  top: -2px;
  width: 100%;
}

footer .footer-container {
  padding: 56px 0;
  margin: auto;
  color: var(--white);
  display: grid;
  place-content: center;
  text-align: center;
}

footer .logo {
  font-family: "Red Hat Display", sans-serif;
  color: var(--white);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  transition: 0.5s;
}

footer .logo .icon-person-walking {
  font-size: 28px;
  display: inline-block;
  margin-right: 6px;
  transition: 0.5s;
}

footer p {
  margin: 32px 0 16px;
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-links > div {
  font-size: 28px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.social-links > div > a {
  color: inherit;
}


@media (hover: hover) and (pointer: fine) {
  .social-links > div:hover {
    background-color: var(--dark-blue);
  } 
}