#home {
  background-color: var(--main-blue);
  background-image: url('../assets/polygon-scatter-haikei.svg'), url('../assets/polygon-scatter-haikei.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .section-container {
  width: 1100px;
  max-width: 1100px;
  margin: auto;
  display: grid;
  place-items: center;
  height: min(100vh, 800px);
  position: relative;
}

.home-grid {
  display: grid;
  grid-template-areas: 'control content'
                       'path content'
                       'path prob';
  column-gap: 52px; 
}

.controls {
  grid-area: control;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  gap: 40px;
  margin-bottom: 40px;
}

.controls label {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
}

.step-control {
  display: flex;
  align-items: flex-end;
  color: var(--white);
  gap: 10px;
  padding-bottom: 6px;
}

.step-control .step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#step-input {
  appearance: none;
  width: 106px;
  height: 8px;
  background-image: linear-gradient(#dddee7,#dddee7);
  background-size: 66% 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  border-radius: 3px;
  width: 100px;
  margin: 16px 0 5px;
  z-index: 1;
}

#step-input::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #fff;
  cursor: ew-resize;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transition: background-color .3s ease-in-out;
  z-index: 2;
}

#step-input::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#range-output {
  position: absolute;
  bottom: -30px;
  font-size: 14px;
  width: 28px;
  text-align: center;
  background-color: var(--white);
  color: var(--dark-gray);
  padding: 4px 0;
  border-radius: 4px;
  left: calc( 33% + (16px * 0.1));
  transform: translateX(-50%);
}

#range-output::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: inherit;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
}

.path-control label {
  text-align: center;
  letter-spacing: 0.5px;
  display: grid;
}

#path-select {
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  border: none;
  color: var(--dark-gray);
  height: 32px;
  width: 110px;
  font-family: 'Kumbh Sans',sans-serif;
  padding-left: 12px;
  margin-top: 4px;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(18, 143, 200)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d='M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z'/></svg>");
  background-repeat: no-repeat;
  background-color: var(--white);
  background-size: 12px;
  background-position: calc(100% - 10px) 50%;
}

.buttons-control {
  display: flex;
  gap: 12px;
}

.buttons-control > button {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  font-size: 18px;
  display: grid;
  place-items: center;
  color: var(--main-blue);
  cursor: pointer;
  background-color: var(--white);
  position: relative;
}

.buttons-control > button:focus,
#step-input:focus::-webkit-slider-thumb,
#path-select:focus {
  outline: 3px solid #00112888;
}

.buttons-control > button:disabled {
  background-color: #e4edf1;
  color: #89ceee;
  pointer-events: none;
}

button#play-pause #icon-play, 
button#play-pause.pause #icon-pause {
  display: inline;
}

button#play-pause #icon-pause, 
button#play-pause.pause #icon-play {
  display: none;
}

.velocity-change-msg {
  position: absolute;
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--white);
  background-color: var(--dark-gray);
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%); 
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 8px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  animation: velocity-msg 2s ease-in;
}

@keyframes velocity-msg {
  0% {
    opacity: 0;
    visibility: hidden;
    bottom: -28px;
  }
  10% {
    opacity: 1;
    visibility: visible;
    bottom: -32px;
  }
  75% {
    opacity: 1;
    visibility: visible;
    bottom: -32px;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    bottom: -32px;
  }
}

.path-chart-wrapper {
  grid-area: path;
  background-color: var(--white);
  border-radius: 6px;
  width: 680px;
  height: 375px;
  padding: 8px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
}

.intro-content {
  grid-area: content;
  max-width: 368px;
  color: var(--white);
  margin: auto;
}

.intro-content h1 {
  max-width: 368px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: 'Red Hat Display', sans-serif;
}

.intro-content ol {
  list-style: none;
  counter-reset: counter;
  padding-left: 24px;
}

.intro-content ol li {
  font-weight: 300;
  position: relative;
  line-height: 24px;
  counter-increment: counter;
}

.intro-content ol li + li {
  margin-top: 4px;
}

.intro-content ol li::before {
  content: counter(counter) ".";
  color: var(--white); 
  font-size: 18px;
  font-weight: 700;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  width: 16px;
  left: -24px;
  top: -1px;
  position: absolute;
}

.probability-chart-wrapper {
  grid-area: prob;
  max-width: 368px;
  background-color: var(--white);
  border-radius: 6px;
  padding: 8px 16px 8px 8px;
  height: 275px;
  margin-top: 32px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.05);
}

.chevron-container {
 display: grid;
 place-items: center;
 position: absolute;
 bottom: 16px;
 transition: 0.5s;
}

.chevron-container > a {
  height: 40px;
  width: 72px;
  position: relative;
}

.chevron-container > a::before {
  content: '';
  background-color: var(--white);
  width: 36px;
  border-radius: 2px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 13px),-50%) rotate(-40deg);
}

.chevron-container > a::after {
  content: '';
  background-color: var(--white);
  width: 36px;
  border-radius: 2px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 13px),-50%) rotate(40deg);
}

@media (hover: hover) and (pointer: fine) {
  .buttons-control > button::before {
    content: attr(tooltip);
    position: absolute;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--white);
    background-color: var(--dark-gray);
    left: 50%;
    bottom: 42px;
    transform: translateX(-50%); 
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .buttons-control > button::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--dark-gray);
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .buttons-control > button:hover::before, 
  .buttons-control > button:hover::after {
    opacity: 1;
    visibility: visible;
  } 

  .chevron-container:hover {
    transform: translateY(5px);
  }

}

