@import url('header.css');
@import url('home.css');
@import url('cards.css');
@import url('article.css');
@import url('aside.css');
@import url('references.css');
@import url('footer.css');
@import url('mobile.css');

:root {
  --very-dark-blue: #0a618c;
  --dark-blue: #0d6998;
  --main-blue: #128fc8;
  --hover-blue: #f1f4ff;
  --blued-white: #f8f9ff;
  --black: #000;
  --dark-gray: #292929;
  --medium-gray: #555464;
  --light-gray: #a7a7a7;
  --white: #fff;
  
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--blued-white);
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[id] {
  scroll-margin-top: 64px;
}
