@import url('header.css');
@import url('home.css');
@import url('cards.css');
@import url('article.css');
@import url('aside.css');

:root {
  --main-blue: #128fc8;
  --dark-blue: #0d6998;
  --very-dark-blue: #0a618c;
  --hover-blue: #eaebf2;
  --blued-white: #f8f9ff;
  --white: #fff;
  --heading-black: #404244;
  --text-gray: #0e1835; /* #727475; #0e1835*/
  --sleep-anchor: #8f8f8f;
  
  scroll-behavior: smooth;
}

body {
  background-color: var(--blued-white);
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}