@media only screen and (max-width: 600px) {

  /*  -------------------------- header.css -------------------------------------- */
  header {
    height: 50px;
  }
  
  .toolbar {
    width: 100%;
    max-width: none;
    padding: 0 12px 0 16px;
  }

  .toolbar .hamburger {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 18px;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 4;
  }

  .toolbar .hamburger .fa-bars {
    display: block;
  }

  .toolbar .hamburger .fa-xmark {
    display: none;
  }

  header .logo a {
    font-size: 24px;
  }
 
  header .logo .icon-person-walking {
    font-size: 24px;
  }
  
  .toolbar nav {
    position: fixed;
    padding: 24px;  
    right: 0;
    top: calc(50vh - 225px);
    transform: translate(100%);
    background-color: var(--white);
    transition: transform 0.5s;
    border-radius: 6px 0 0 6px;
    transform-style: preserve-3d;
  } 
  
  .toolbar nav::before {
    content: '';
    position: absolute;
    height: 200vh;
    width: 200vw;
    transition: background-color 0.5s, transform 0s 0.5s;
    top: -300px;
    right: 0;
    transform: scale(0) translateZ(-10px);
  }
  
  .toolbar.active nav::before {
    background-color: rgba(0,0,0,0.6);
    transform: scale(1) translateZ(-10px);
    transition: background-color 0.5s, transform 0s 0s;
  }

  .toolbar.active .hamburger .fa-bars {
    display: none;
  }

  .toolbar.active .hamburger {
    background-color: #00000080;
    transition: 0.3s;
  }

  .toolbar.active .hamburger .fa-xmark {
    display: block;
  }
  
  .toolbar.active nav {
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.3);
    transform: none;
  }

  .toolbar nav > ul {
    display: initial;
  }

  .toolbar nav > ul > li {
    padding: 0 !important;
    position: initial;
  }

  .toolbar nav > ul > li > a {
    display: block;
    padding: 6px;
    margin-left: 0px;
    color: var(--main-blue);
    font-weight: 500;
  }

  .nav-dropdown > ul {
    padding: 0;
    width: initial;
    position: initial;
    box-shadow: initial;
    opacity: initial;
    visibility: initial;
    transform: none;
    transition: none;
  }

  .nav-dropdown > ul > li {
    position: initial;
  }

  .nav-dropdown > ul > li > a {
    display: block;
    font-weight: 600;
    padding: 6px;
    margin-left: 16px;
  }

  .nav-dropdown > ul > li > ul {
    padding: 0;
    width: initial;
    position: initial;
    list-style: none;
    box-shadow: initial;
    opacity: initial;
    visibility: initial;
    transform: none;
    transition: none;
  }

  .nav-dropdown .icon-chevron {
    display: none;
  }
  
  .nav-dropdown > ul > li > ul > li {
    padding: 0;
  }
  
  .nav-dropdown > ul > li > ul > li > a {
    padding: 6px;
    margin-left: 32px;   
  }



  /*  -------------------------- home.css -------------------------------------- */
  #home {
    background: var(--main-blue);
  }

  #home .section-container {
    width: 100%;
    height: auto;
    padding: 0 8px;
  }

  .home-grid {
    display: block;
    margin-top: 50px;
    padding-bottom: 72px;
    width: 100%;
  }

  .controls {
    display: grid;
    justify-content: center;
    align-items: initial; 
    justify-items: initial;
    align-self: initial;
    gap: 40px;
    margin: 24px 0 36px;
  }

  .buttons-control {
    justify-self: center;
    grid-column: 1 / 3;
  }

  .path-chart-wrapper {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  .probability-chart-wrapper {
    width: 100%;
    max-width: initial;
    padding: 8px; 
    margin: 0;
    border-top: 1px solid #00000020;
    border-radius: 0 0 6px 6px;
  } 

  .intro-content,
  .path-chart-wrapper::before, 
  .probability-chart-wrapper::before, 
  .probability-chart-wrapper::after, 
  .chevron-container {
    display: none;
  }



  /*  -------------------------- cards.css -------------------------------------- */
  .cards-wrapper {
    flex-direction: column;
    align-items: stretch; 
    gap: 36px;
    width: fit-content;  
    padding: 0 8px 0 72px;
    margin: 48px auto 0;
    counter-reset: card-counter;
  }

  #cards {
    background-size: 250%;
  }

  .cards-wrapper .card:nth-child(2) {
    transform: none;
  }

  .cards-wrapper .card {
    padding: 16px 24px 16px 64px;
    width: initial;
    counter-increment: card-counter;
    background-color: initial;
    box-shadow: 2px 2px 16px rgba(5, 5, 165, 0.1);
  }

  .cards-wrapper .card::before {
    content: counter(card-counter);
    top: 50%;
    left: -64px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--white);
    display: grid;
    place-items: center;
    transform: translateY(-50%);
  }

  .cards-wrapper .card::after {
    width: 9px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    left: -20px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background-color: var(--main-blue);
  }

  .cards-wrapper .card h2 {
    font-size: 18px;
    text-align: left;
    margin-bottom: 4px;
  }

  .cards-wrapper .card .explore {
    margin-bottom: 0;
    text-align: left;
  }

  .cards-wrapper .card .explore a {
    font-size: 16px;
  }

  #cards .section-container h1::before,
  .cards-wrapper .card p,
  .cards-wrapper .card .explore a::before {
    display: none;
  }

  .cards-wrapper .card .lead-icon {
    top: 50%; 
    transform: translateY(-50%);
    left: 4px;
    color: var(--main-blue);
    background-color: initial;
  }

  #cards .section-container {
    width: 100%;
    padding: 96px 8px 56px;
  } 




  /*  -------------------------- aside.css -------------------------------------- */
  aside {
    display: none;
  }



  
  /*  -------------------------- article.css -------------------------------------- */
  #article .section-container {
    width: 100%;
    max-width: none;
    display: block;
    padding: 0 8px 56px;
  }

  .article-content {
    padding: 24px 16px;
  }

  .container-figures {
    margin: 32px 0;
    flex-direction: column;
    justify-content: initial;
    gap: 24px;  
  }

  .container-figures.paths-1,
  .container-figures.paths-2 {
    gap: 32px;
  }

  .article-content ul {
    margin-left: 0;
  }



  /*  -------------------------- references.css -------------------------------------- */
  #references .section-container {
    width: 100%;
    max-width: auto; 
    padding: 0 16px 80px;
  }

  #references {
    background-size: 230%; 
  }

  #references .section-container h1::before {
    display: none;
  }

  .ref-card:first-child {
    grid-column: initial; 
  }

  .ref-card-header {
    border-radius: 6px;
  }

  .ref-card {
    box-shadow: none;
    border-radius: 6px 0 6px 6px;
  }

  .ref-card ul {
    padding: 48px 0 16px 24px;  
  }



  /*  -------------------------- footer.css -------------------------------------- */
  footer {
    background: var(--main-blue);
  }

}

