#references {
  background-image: url('../assets/layered-peaks-haikei-2.svg');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100vw;
}

#references .section-container {
  width: 1100px;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 168px;
}

#references .section-container h1 {
  font-size: 32px;
  font-family: 'Red Hat Display', sans-serif;
  width: fit-content;
  margin: auto;
  position: relative;
  color: var(--dark-gray);
}

#references .section-container h1::before {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 1px;
  background-color: var(--main-blue);
  width: 100%;
  bottom: -4px;
}

.ref-cards-wrapper {
  margin-top: 48px;
  display: grid;
  gap: 16px;
}

.ref-card:first-child {
  grid-column: 1 / 3;
}

.ref-card {
  box-shadow: 0px 4px 8px rgba(5, 5, 165, 0.05);
  border-radius: 6px;
  position: relative;
}

.ref-card-header {
  background-color: var(--main-blue);
  color: var(--white);
  width: fit-content;
  border-radius: 6px 0;
  padding: 6px 16px;
  position: absolute;
  top: -1px;
}

.ref-card ul {
  padding: 48px 0 16px 40px;
  color: var(--dark-gray);
  line-height: 24px;
}

.ref-card ul a {
  text-decoration: none;
}

.ref-card ul a:hover {
  text-decoration: underline;
}